{% extends 'base.html' %}
{% block title %}My Questions{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/static/css/profile.css">{% endblock %}
{% block content %}
    {% from 'macros.html' import question_link with context %}
    {% include 'includes/_header.html' %}
    <div class="container page-top">
        <div class="top-space"></div>
        <div class="row">
            <div class="col l6 s12 pane-new center-align">
                <form action="/ask" method="post" enctype="multipart/form-data">
                    <input type="text" name="csrf_token" hidden value="{{ token }}">
                    <div class="row">
                        <div class="col l12 m12 s12 input-field">
                            <i class="fa fa-user prefix"></i>
                            <input disabled value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.first_name }} {{ user.last_name }}" id="name" type="text">
                        </div>
                        <div class="col l12 m12 s12 input-field">
                            <input id="title" name="title" type="text">
                            <label for="title">Title</label>
                        </div>
                        <div class="col l12 m12 s12 input-field">
                            <textarea id="body" name="body" type="text" class="materialize-textarea"></textarea>
                            <label for="body">Question</label>
                        </div>
                        <div class="col l12 m12 s12 file-field input-field">
                            <div class="btn">
                                <span>Attach Image, if any</span>
                                <input type="file" id="image" name="image">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" value="Max.: 1">
                            </div>
                        </div>
                        <p class="center">
                            <input type="checkbox" id="anonymous" name="anonymous" />
                            <label for="anonymous">Ask as Anonymous</label>
                        </p>
                        <div class="space-32"></div>
                        <button type="submit" class="btn-floating btn-large waves-effect waves-light">Ask</button>
                        <div class="space-32"></div>
                    </div>
                </form>
            </div>
            <div class="col l6 s12 pane-old" id="pane-old">
                <h5 class="center site-bg">Previous Questions</h5>
                {% for question in questions %}
                    <div class="col l12 m12 s12 z-depth-1">
                        <p>{{ question_link(question) }}<small class="right site-color">{{ question.responses.all()|length }} responses</small></p>
                        <small class="site-color">{{ moment(question.timestamp).fromNow() }}</small>
                    </div>
                {% endfor %}
                <!--<button class="btn-floating btn-large waves-effect waves-light" id="fab"><i class="fa fa-question"></i></button>-->
            </div>
        </div>
    </div>
    <div class="page-bottom"></div>
    {% include 'includes/_footer.html' %}
{% endblock %}
{% block script %}
{% for msg in get_flashed_messages() %}
    <script>
        showToast('{{ msg }}')
    </script>
{% endfor %}
{% endblock %}
