{% extends 'base.html' %}
{% block title %}Ask a Vet{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/static/css/index.css">{% endblock %}
{% block content %}
        {% include 'includes/_header.html' %}
        <div class="row page-top">
            <div class="hero col s12">
                <div class="row">
                    <h4 class="site-bg col l10 offset-l1 m12 s11 z-depth-1">Your online veterinary centre. Just Ask, we've got the answer.</h4>
                </div>
            </div>
        </div>
        <div class="row site-details z-depth-1 center-align">
            <div class="col l12 m12">
                <i class="fa fa-user-md fa-4x"></i>
                <h5>Connect with our team of experts</h5>
                <h6><a href="https://www.facebook.com/dialog/oauth?client_id={{ config.FB_APP_ID }}
        &redirect_uri={{url_for('auth.facebook_callback', _external=True)}}&scope=email,publish_actions&state={{ token }}" target="_blank">Login with <i class="fa fa-facebook-official fb-icon"></i> to continue</a></h6>
            </div>
        </div>
        <div class="row site-details center-align">
            <div class="col l6 s12">
                <i class="fa fa-newspaper-o center-align fa-4x"></i>
                <h5>High-Octane Vet Articles</h5>
                <a class="waves-effect waves-light btn" href="http://askavetng.blogspot.com" target="_blank">READ</a>
            </div>
            <div class="col l6 s12">
                <i class="fa fa-ambulance center-align fa-4x"></i>
                <h5>Physical Ambulatory Services</h5>
                <a class="waves-effect waves-light btn" href="#" onclick="showToast('Feature is in Alpha')">Register as a Vet</a>
            </div>
        </div>
        <div class="row site-details z-depth-1 center-align">
            <div class="col l6 s12">
                <i class="fa fa-paw center-align fa-4x"></i>
                <h5>Top-Notch Animal Breeders</h5>
                <a class="waves-effect waves-light btn" href="#" onclick="showToast('Feature is in Alpha')">Explore</a>
            </div>
            <div class="col l6 s12">
                <i class="fa fa-shopping-cart center-align fa-4x"></i>
                <h5>Animal Market Place</h5>
                <a class="waves-effect waves-light btn" href="#" onclick="showToast('Feature is in Alpha')">Visit</a>
            </div>
        </div>
        <div class="page-bottom"></div>
        {% include 'includes/_footer.html' %}
{% endblock %}
{% block script %}
{% for msg in get_flashed_messages() %}
    <script>
        showToast('{{ msg }}')
    </script>
{% endfor %}
{% endblock %}
